---
---

$strong-sep: #D4A259;

html {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
    text-rendering: optimizeLegibility;
}

h2 {
    font-weight: 400;
    font-size: 1.7rem;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: black;
}

.post-entry {
    border-bottom: 1px solid #cccccc;
}

.post-title {
    color: #333;
}

.post-date {
    font-size: 0.77rem;
    color: #999999;
    letter-spacing: 1px;
}

// 响应式布局
@media (min-width: 400px) {
}

@media (min-width: 750px) {
    #container {
        overflow: auto;
        max-width: 760px;
        margin: auto;
    }
}

