---
---

$ld-frame-primary: #000000;
$ld-frame-on-primary: #FFFFFF;
$ld-frame-on-primary-sub: #DDDDDD;
$ld-frame-secondary: #FF6600;
$ld-frame-on-secondary: #000000;
$ld-on-primary: #000000;
$ld-on-primary-sub: #555555;

body {
    margin: 0 0;
    display: flex;
    height: 100vh;
    font-family: 'Noto Serif SC', serif;
}

a {
    text-decoration: none;
}

.ld-sidebar {
    background-color: $ld-frame-primary;
    color: $ld-frame-on-primary;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    box-shadow: 0rem 0rem 0.75rem 0rem $ld-frame-primary;
}

.ld-sidebar a {
    color: $ld-frame-on-primary;
}

.ld-sidebar__header {
    font-family: 'Josefin Slab', serif;
}

.ld-sidebar__title {
    font-size: 3rem;
    line-height: 0.9;
}

.ld-sidebar__subtitle {
    color: $ld-frame-on-primary-sub;
    text-align: right;
    font-size: 0.8rem;
    padding-top: 1rem;
}

.ld-sidebar__content {
    padding-top: 15vh;
}

.ld-sidebar-item {
    width: 100%;
}

.ld-sidebar-item:hover {
    background-color: $ld-frame-secondary;
    color: $ld-frame-on-secondary;
}

.ld-sidebar-item__text {
    font-size: 1.75rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

.ld-sidebar-footer {
    position: absolute;
    bottom: 5vh;
    color: $ld-frame-on-primary-sub;
    font-size: 0.5rem;
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

.ld-content-wrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.ld-content {
     padding-left: 6rem;
     padding-top: 4rem;
     width: 50rem;
}

.ld-content a {
    color: $ld-on-primary;
}

.ld-post h1 {
    font-size: 2rem;
}

.ld-post__title {
}

.ld-post__date {
    padding-top: 0.5rem;
    font-size: 0.75rem;
    color: $ld-on-primary-sub;
}

.ld-post__tags {
    font-size: 0.75rem;
    color: $ld-on-primary;
}

.ld-post__tag {
    font-size: 0.5rem;
    color: $ld-on-primary-sub;
}


